body{
    font-family: Bookman;
    display: flex;
    flex-direction: column;
}
header,footer{
    background-color: indigo;
    color: white;
    padding: 10px;
    text-align: center;
}
#napis{
    background-color: blueviolet;
    padding: 10px;
    text-align: right;
}
aside{
    background-color: lavender;
    height: 500px;
}
.blewy{
    width: 25%;
}
.bprawy{
    width: 35%;
}
main{
    background-color: ghostwhite;
    text-align: center;
    height: 500px;
    width: 40%;
}
img{
    width: 50%;
    padding: 10px;
    float: right;
}
p{
    color: white;
    font-size: 150%;
    font-style: italic;
}
.flexbox{
    display: flex;
}
table,form{
    margin: 30px;
}
table,td,th{
    border-collapse: collapse;
    border: 1px solid indigo;
}
td,th{
    padding: 3px;
}