body{
    font-family: Garaomnd;
    color: white;
}
h1{
    background-color: indigo;
    text-align: center;
    padding: 2px;
}
aside{
    background-color: indigo;
    height: 600px;
    float: left;
}
main{
    background-color: black;
    height: 600px;
    float: left;

}
div{
    float: left;
}
main{
    width: 70%;
}
aside{
    width: 15%;
}