p{
    color: yellowgreen;
    border-top: 10px double greenyellow;
    border-bottom: 10px double greenyellow;
    font-size: 24px;
    padding: 10px 10px;
    text-shadow: 1px 1px 5px forestgreen;

}