p{
    background-color: lightsteelblue;
    border: 2px dotted blueviolet;
    border-radius: 5px;
    padding: 15px;
    font-style: italic;
}
fieldset{
    border: 1px solid chocolate;
    border: 1px solid darkgoldenrod;
}