body{
    background-color: lightyellow;
    color: lightcoral;
    font-family: Verdana;
    font-size: 16px;
}
fieldset{
    border: 2px solid coral;
}
#pierwszy,#drugi,#ile{
    background-color: lightgoldenrodyellow;
    color: brown;
    width: 100px;
    border: 2px solid coral;
}
button{
    border: 2px solid coral;
}