*{
    font-family: 'Georgia';

}
body{
    display: flex;
    flex-direction: column;
}
header{
    background-color: navy;
    color: white;
    text-align: center;
    height: 100px;
    width: 50%;
}
.flexbox{
    display: flex;
}
menu{
    background-color: navy;
    padding: 20px;
}
label{
    color: silver;
    margin: 50px;
}
label:hover{
    color: white;
    text-decoration: underline;
}
aside{
    background-color: azure;
    height: 550px;
}
.lewy{
    width: 70%;
}
.prawy{
    width: 30%;
}
footer{
    background-color: navy;
    color: white;
}
table{
    border: 1px solid navy;
    margin: auto;
    width: 70%;
}
td:hover{
    background-color: skyblue;
}
.prawy > img{
    width: 90%;
}
main{
    display: flex;
}