*{
    font-family: 'Century';
}
header,footer{
    background-color: indigo;
    color: white;
    font-style: italic;
    padding: 2px;
}
section{
    width: 50%;
    height: 470px;
    /* text-align: center; */
}
img{
    padding: 3px;
    margin: 10px;
    border: 2px dashed slateblue;
    /* filter: blur(5px); */
}
a{
    color: white;
}
.flex1,.flex2{
    display: flex;
}
button{
    background-color: slateblue;
    color: white;
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
    padding-left: 20px;
    margin-top: 10px;
}
button:hover{
    background-color: indigo;
}
#zolw,#owoce{
    width: 80%;
}