body{
    background-color: #FFCC99;
    font-family: 'Garamond';
    text-align: center;
}
header,footer{
    background-color: darkgreen;
    color: white;
    padding: 30px;
    font-size: 140%;
}
nav{
    background-color: mediumseagreen;
    word-spacing: 90px;
    padding: 20px;
}
#bloklewy{
    width: 70%;
    height: 500px;
}
#blokprawy{
    background-color: mediumseagreen;
    width: 30%;
    height: 500px;
    text-align: left;
}
table{
    border: 1px dashed darkgreen;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}
td,th{
    padding: 5px;
}
a{
    color: white;
}
ul{
    list-style-type: circle;
}
tr:hover{
    color: white;
    background-color: darkgreen;
}
main{
    display: flex;
}