*{
    font-family: 'Georgia';
    color: white;
}
header,footer{
    background-color: maroon;
    text-align: center;
    padding: 2px;
}
aside,main{
    background-color: LightSalmon;
    height: 527px;
}
aside{
    width: 15%;
}
main{
    width: 70%;
}
section{
    background-color: maroon;
    height: 70px;
}
button{
    background-color: lightsalmon;
    color: maroon;
    border: none;
    font-size: 400%;
    display: block;
    margin: auto;
    padding-top: 210px;
}