body {
    background-color: lightblue;
    color: midnightblue;
    font-family: Calibri, sans-serif;
    font-size: 18px;
    margin: 50px 100px;
}

ol {
    background-color: aliceblue;
    border: 1px solid royalblue;
    padding: 5px 5px 5px 40px;
}

li {
    border: 1px dotted cadetblue;
    margin: 5px 0 5px -15px;
    padding-left: 5px;
    padding: 20px;
}

.block {
    color: midnightblue;
    text-decoration: none;
    cursor: pointer;
    margin: 0 5px;
    font-size: 20px;
}

a.odp {
    color: dodgerblue;
    text-decoration: none;
    margin: 0 5px;
}

a.odp:hover {
    text-decoration: underline;
}

/* a{
    cursor: pointer;
} */
