*{
    font-family: Century;
}
header{
    display: flex;
    gap: 10px;
    margin: 0 auto;
    justify-content: center;
}
header > img{
    display: inline-block;
}
header,footer{
    background-color: #CCA10B;
    color: white;
    font-style: italic;
    padding: 5px;
    text-align: center;
}
aside{
    background-color: rgb(5,150,88,80%);
    
}
.lewy{
    text-align: left;
    width: 70%;
    height: 620px;
}
.prawy{
    font-family: "LucidaConsole","Consolas","Courier New",monospace;
    width: 30%;
    height: 600px;
    padding-top: 20px;
    font-size: 14px;
    letter-spacing: 1px;
}
header > p{
    font-weight: bold;
    font-size: 32px;
    text-shadow: 2px 2px 4px rgb(0,0,0,70%);
}
h1{
    padding-left: 30px;
}
article > img{
    height: 100px;
    width: 100px;
    padding: 10px;
    margin-left: 30px;
}
main{
    display: flex;
}