*{
    font-family: 'Helvetica';
}
header,footer{
    background-color: sienna;
    color: white;
    padding: 10px;
    text-align: center;
}
.lewy,.prawy{
    background-color: navajowhite;
    width: 15%;
    height: 700px;
}
main{
    width: 70%;
    height: 700px;
    overflow: scroll;
}
img{
    width: 100%;
}
section{
    display: flex;
    width: 46%;
    margin: 2%;
    position: relative;
}
h3,p,a{
    opacity: 0;
    position: absolute;
}
h3{
    top: 5%;
    position: absolute;
}
p{
    top: 30%;
    position: absolute;
}
a{
    background-color: sienna;
    padding: 15px;
    top: 70%;
    left: 70%;
    position: absolute;
}
section:hover > img{
    opacity: 0.3;
    transition: 0.5s;
}
section:hover > h3{
    opacity: 1;
}
section:hover > p{
    opacity: 1;
}
section:hover > a{
    opacity: 1;
}
.flexbox{
    display: flex;
}
main{
    display: flex;
    /* flex-wrap: wrap; */
    /* gap: 50px; */
}