*{
    text-align: center;
    font-family: 'Georgia';
}
header,footer{
    background-color: tomato;
    color: mistyrose;
    padding: 10px;
}
nav{
    width: 20%;
}
#blok1,#blok2,#blok3{
    background-color: #FFAEA5;
    height: 170px;
    font-size: 200%;
}
#blok1{
    background-color: mistyrose;
}
main{
    background-color: mistyrose;
    width: 80%;
    height: 510px;
    overflow: scroll;
}
#sekcja2,#sekcja3{
    display: none;
}
table{
    margin: auto;
    width: 60%;
    border: 1px dotted indigo;
}
select,input{
    margin: 20px;
}
dt{
    font-weight: bold;
    font-style: italic;
}
dt:hover{
    font-size: 180%;
}
.flexbox{
    display: flex;
}