*{
    font-family: 'Century';
    text-align: center;
}
header,footer{
    background-color: #CCA10B;
    color: white;
    font-style: italic;
    padding: 5px;
}
#blokgorny{
    width: 100%;
    height: 400px;
    vertical-align: middle;
}
#bloklewy,#bloksrodkowy,aside{
    width: 33.33%;
    height: 200px;
    background-color: antiquewhite;
}
#blokgorny > p{
    color: red;
    font-size: 100px;
    justify-content: center;
}
label{
    text-align: left;
}
button{
    background-color: orange;
    color: white;
    border: none;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 10px;
}
button:hover{
    background-color: #CCA10B;
}
input[type=range]{
    width: 50%;
    
}
a{
    background-color: orange;
    padding: 5px;
    color: white;
}
main{
    display: flex;
}
